* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}

.container {
  width: 100%;
  height: 100vh;
  background: url(images/hero-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* header section style  */

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
  z-index: 1000;
}

.header .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .logo a {
  font-size: 22px;
  color: #ffffff;
  margin-right: 10px;
  font-weight: 700;
}

.header .logo a img {
  width: 20px;
  display: flex;
  align-items: center;
}

.navbar a {
  margin: 0px 20px;
  color: #ffffff;
  font-weight: 500;
  position: relative;
}

.navbar a::after {
  position: absolute;
  content: "";
  left: 0%;
  top: 100%;
  background: #ff2953;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
}

.navbar a:hover::after,
.navbar a.active::after {
  opacity: 1;
}

.header .searchbar {
  width: 200px;
  height: 35px;
  border-bottom: 2px solid #ffffff;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.header .searchbar input{
  width: 100%;
  background: rgba(211, 76, 101, 0.5);
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0px 10px;
  font-size: 16px;
}

::placeholder {
  color: #ffffff;
}

.searchbar button {
  background: rgba(211, 76, 101, 0.5);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
}

.searchbar button i{
  font-size: 18px;
  color: #ffffff;
  margin-right: 5px;
}
/* content section style  */

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h3 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
}

.content h2 {
  font-size: 42px;
  color: #ffffff;
  font-weight: 700;
}

.content h1 {
  font-size: 82px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 7px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ff2953;
}

.content p {
  color: rgba(255, 255, 255, 0.8);
  padding: 0px 0px 0px 40px;
}

.content button {
  padding: 8px;
  width: 150px;
  border: 2px solid #fff;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.5s;
  background: transparent;
  text-transform: uppercase;
}

.content button:hover {
  background: #ffffff;
  color: #ff2953;
}

.content button i {
  margin-left: 5px;
  font-size: 18px;
}

/* why section style  */

.why {
  width: 100%;
  background: url(images/us-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px;
  position: relative;
}

.why h1 {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  color: #ffffff;
}

.why h1::after {
  position: absolute;
  content: "";
  top: 90%;
  left: 48%;
  width: 70px;
  height: 5px;
  background: #ff2953;
}

.why .card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.card-container .card {
  width: 250px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  margin: 20px;
}

.card h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0px;
}

.card p {
  font-size: 15px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}

.card img {
  width: 60px;
}

/* Health section style  */

.healthy-mind {
  width: 100%;
  background: url(images/healthy-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 50px;
  text-align: center;
}

.healthy-mind h2 {
  text-transform: uppercase;
  font-size: 34px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
}

.healthy-mind h2::after {
  position: absolute;
  content: "";
  top: 90%;
  left: 46%;
  width: 100px;
  height: 5px;
  background: #ff2953;
}

.healthy-mind p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  margin-bottom: 40px;
}

.healthy-mind button {
  padding: 8px;
  width: 160px;
  text-transform: uppercase;
  font-size: 16px;
  background: transparent;
  outline: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: 0.5s;
}

.healthy-mind button:hover {
  color: #ff2953;
  background: #ffffff;
}

/* Trainers section style  */

.trainers {
  width: 100%;
  background: url(images/trainer-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 60px 50px;
  text-align: center;
}

.trainers h2 {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
  position: relative;
}

.trainers h2::after {
  position: absolute;
  content: "";
  top: 90%;
  left: 47%;
  background: #ff2953;
  width: 70px;
  height: 5px;
}

.trainers .trainers-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
}

.trainers-cards .traini-card {
  width: 300px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
  /* border: 2px solid #fff; */
  z-index: 10;
}

.traini-card img {
  object-fit: cover;
}

.traini-card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: rgba(211, 76, 101, 0.5);
  transition: 0.5s;
}

.traini-card .traini-content {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.traini-content h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

.traini-content .social-links {
  display: flex;
  gap: 20px;
}

.social-links i {
  width: 40px;
  height: 40px;
  font-size: 28px;
  color: #ffffff;
  border: 2px solid #ff2953;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}

.social-links i:hover {
  background: #ffffff;
  color: #ff2953;
  border: none;
}

.traini-card:hover .overlay {
  left: 0;
}

.traini-card:hover .traini-content {
  left: 50%;
}

/* contact section style  */

.contact-section {
  display: flex;
  width: 100%;
  padding: 50px;
  background: #27223f;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 100px;
  z-index: 2;
}

.contact-content h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  position: relative;
}

.contact-content h2::after {
  position: absolute;
  content: "";
  top: 90%;
  left: 10%;
  width: 50px;
  height: 5px;
  background: #ff2953;
}

.contact-content form input {
  margin: 10px;
  width: 700px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 10px;
}

.contact-content form input::placeholder,
.contact-content form textarea::placeholder {
  color: #222;
}

.contact-content form textarea {
  width: 700px;
  font-size: 16px;
  padding: 10px;
  outline: none;
  border: none;
  margin: 10px;
}

.contact-content form button {
  transform: translateX(550px);
  width: 150px;
  padding: 5px;
  outline: none;
  border: none;
  background: #ff2953;
  margin: 20px 10px;
}

form button a {
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 500;
}

.icons {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

.icons i {
  margin: 5px;
}

/* Media queries section style  */

@media (max-width: 1200px) {
  .header .searchbar {
    width: 150px;
  }
  .why .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .trainers .trainers-cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
  }

  .why {
    padding: 50px;
  }

  .why h1 {
    font-size: 28px;
  }

  .why h1::after {
    left: 48%;
    top: 100%;
    height: 4px;
    width: 50px;
  }

  .healthy-mind {
    padding: 40px 30px;
  }

  .healthy-mind h2 {
    font-size: 28px;
  }

  .healthy-mind h2::after {
    top: 100%;
    left: 44%;
    height: 4px;
  }

  .trainers {
    padding: 40px 40px;
  }

  .trainers h2 {
    font-size: 28px;
  }

  .trainers h2::after {
    top: 100%;
    left: 45%;
    height: 4px;
  }

  .contact-section {
    padding: 20px;
  }

  .contact-content h2 {
    font-size: 28px;
  }

  .contact-content h2::after {
    top: 100%;
    left: 15%;
    height: 4px;
  }
}

@media (max-width: 950px) {
  .header {
    padding: 20px 5%;
  }

  .header .searchbar {
    width: 150px;
  }

  .header .searchbar input {
    font-size: 15px;
  }

  .why {
    padding: 30px;
  }

  .healthy-mind {
    padding: 30px 20px;
  }

  .contact-content {
    padding: 20px 0px 0px 20px;
  }
}

@media (max-width: 800px) {
  .header .icons {
    display: block;
  }

  #search-menu {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    background: rgba(211, 76, 101, 0.5);
    overflow: hidden;
    transition: 0.4s;
  }

  .navbar a {
    display: block;
    text-align: center;
    margin: 30px;
    transition: 0.5s;
  }

  .navbar a::after {
    display: none;
  }

  .navbar a:hover,
  .navbar a.active {
    color: #ff2953;
  }

  .showmenu {
    height: 300px;
  }

  .why {
    padding: 20px;
  }

  .why h1 {
    font-size: 28px;
  }

  .why h1::after {
    left: 48%;
    top: 100%;
    height: 4px;
    width: 50px;
  }

  .healthy-mind {
    padding: 40px 30px;
  }

  .healthy-mind h2 {
    font-size: 28px;
  }

  .healthy-mind h2::after {
    top: 100%;
    left: 44%;
    height: 4px;
  }

  .trainers {
    padding: 40px 40px;
  }

  .trainers h2 {
    font-size: 28px;
  }

  .trainers h2::after {
    top: 100%;
    left: 45%;
    height: 4px;
  }

  .contact-content {
    padding: 30px 0px 0px 20px;
  }

  .contact-section {
    padding: 20px;
  }

  .contact-content h2 {
    font-size: 28px;
  }

  .contact-content h2::after {
    top: 100%;
    left: 15%;
    height: 4px;
  }
}

@media (max-width: 650px) {
  .content h1 {
    font-size: 52px;
  }
  .why .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .trainers .trainers-cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 60px;
  }

  .why {
    padding: 20px;
  }

  .why h1 {
    font-size: 24px;
  }

  .why h1::after {
    left: 45%;
    top: 100%;
    height: 4px;
    width: 50px;
  }

  .healthy-mind {
    padding: 20px 20px;
  }

  .healthy-mind h2 {
    font-size: 20px;
  }

  .healthy-mind h2::after {
    top: 100%;
    left: 35%;
    height: 4px;
  }

  .trainers {
    padding: 20px 20px;
  }

  .trainers h2 {
    font-size: 24px;
  }

  .trainers h2::after {
    top: 100%;
    left: 42%;
    height: 4px;
  }

  .contact-content {
    padding: 30px 0px 0px 20px;
  }

  .contact-section {
    padding: 10px;
  }

  .contact-content h2 {
    font-size: 24px;
  }

  .contact-content h2::after {
    top: 100%;
    left: 14%;
    height: 4px;
  }

  .contact-content form input {
    margin: 10px 0px;
    width: 270px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 10px;
  }

  .contact-content form textarea {
    width: 270px;
    margin: 10px 0px;
  }

  .contact-content form button {
    transform: translateX(160px);
    width: 100px;
  }
}
